header {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 30px;
}

.reports-date {
    height: 65%;
}

.modal-input-date-input-reports-date {
    position: fixed;
    width: 13%;
    height: 6%;
    border-radius: 4px;
    border-color: rgb(33, 194, 223);
}

.center {
    justify-content: center;
}

.left {
    justify-content: left;
    text-align: left;
}

.right {
    justify-content: right;
    float: right;
}

.hide {
    display: none;
}

.mt-3 {
    margin-top: 3%;
}

.mt-5 {
    margin-top: 5%;
}

.mr-5 {
    margin-left: 5%;
}

.asterisk {
    color: var(--cancel-btn)
}

#country {
    color: var(--secondary-color);
    background-color: white;
}

/* buttons */
.btn-blue {
    background-color: #2A96C6;
    color: white;
    border: 2px solid #2A96C6;
    font-family: 'Gotham-Rounded-Bold';

}

.btn-pink {
    background-color: white;
    color: #EC0B8C;
    border: 2px solid #EC0B8C;
    font-family: 'Gotham-Rounded-Bold';

}

.btn-pink:hover{
    background-color: #EC0B8C;
    color: white;
    border: 2px solid #EC0B8C;
    font-family: 'Gotham-Rounded-Bold';
}

.btn-rad{
    border-radius: 10px;
    width:150px;
    height:5vh;
    max-height: 5vh;
}

.btn-clear:hover{
    background-color: #2A96C6;
    border: 2px solid white;
    color: white;
    /* box-shadow: 5px 10px #888888; */
}

.btn-next{
    background-color: var(--secondary-color);
    color: white;
    border: none;
}

.btn-back{
    background-color: var(--cancel-btn);
    color: white;
    border: 2px solid white;
}

.btn-clear{
    background-color: white;
    color: var(--secondary-color);
    border: 2px solid skyblue;
    color: #2A96C6;
    font-family: 'Gotham-Rounded-Bold';

}

.pink-text {
    color: #EC0B8C;
    font-family: 'Gotham-Rounded-Bold';

}

.search-input {
    border: none;
    background-color: #ECF2F4;
    /* border-radius: 10px; */
}

.search-input:focus {
    border: none;
    background-color: #ECF2F4;
    /* border-radius: 10px; */
}

.search-icon {
    border: 2px solid #ECF2F4;
    background-color: #ECF2F4;
    cursor: pointer
    /* border-radius: 10px; */
}

.search-container{
    position: absolute;
    width:83%
}

#search-result-input:disabled, #search-result-input[readonly] {
    background-color: white;
}

.search-results {
    background-color: white;
    border-radius: 0px 0px 0px 0px;
    z-index:1;
}

#search-result-input:hover{
    background-color: #fff0f3;
    cursor: pointer;
    z-index:1;
    /* box-shadow:1px 1px 2px #888888 */
}

/* tables */
.table-overflow {
    overflow-x: auto;
}

.item-table{
    border-radius: 10px;
}

.item-table-headers {
    background-color: #2A96C6;
    color:white;
}

.table-bordered {
    border-radius: 10px;
}

.fw-bold{
    font-family: var(--font-bold);
}   

.tb-icons {
    height: 24px;
    width: 19px;
    cursor: pointer;
}

.item-search-container{
    position: absolute;
    width:94%
}

.bg-grey {
    background-color: var( --dropdown-bg);
    border: none;
    color: #2A96C6;
    font-family: 'Gotham-Rounded-Bold';


}

.border-grey {
    border: 2px solid #D1D1D1;
    border-radius: 10px;  
    padding: 10px;
}

.pad-left5 {
    padding-left: 5px;
}

.blue-txt{
    color: #2A96C6;
}

.pink-txt{
    color: #EC0B8C;
}

.grey-txt{
    color: #7C7C7C;
}

.orange-txt {
    color: #FF4141;
}

@media screen and (max-width: 550px) {
    .header {
        font-size: 7vw;
    }

    .container {
        max-width: 230vw;
        margin: 5px;
        margin-left: -1vw;
        /* margin-left: 13px; */
    }

    .form-group {
        font-size: 10px;
        margin-right: -7px;
    } 

    #country {
        font-size: 10px;
    }

    .form-control {
        font-size: 10px;
    }

    .form-select-md {
        font-size: 10px;
    }

    .input-group-text {
        font-size: 10px;
    }

    .custom-control-label {
        font-size: 10px;
    }

    .asterisk {
        width: 85vw;
    }

    .btn-rad {
        font-size: 10px;
    }

}

@media screen and (max-width: 415px) {
    .container {
        margin-left: 3vw;
    }

    .form-control {
        font-size: 10px;
       
    }

    .search-icon {
        margin-right: 3vw;
    }

    .col-4 {
        width: 95%;
        margin-bottom: 10px;
    }

    .col-2 {
        width: 35%;
        /* margin-bottom: 10px; */
    }

    .col-3 {
        width: 40%;
        margin-bottom: 10px;
    }
    
    .col-6 {
        /* width: 45%; */
        width: 90%;
    }

    .btn-back {
        width: 50px !important;
    }

    .btn-clear {
        width: 20vw !important;
        /* margin-left: -25px; */
    }

    .btn-next {
        width: 50px !important;
        margin-left: 0vw;
    }
}

@media screen and (min-width: 549px) and (max-width: 1000px) {
    .container {
        margin-left: 1vw;
    }
}